EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDfJ1gmDu_3hkrT_o1op8F9pJWq8EV9hdM
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=inventario-de-productos-10cee.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=inventario-de-productos-10cee
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=inventario-de-productos-10cee.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=741815843624
EXPO_PUBLIC_FIREBASE_APP_ID=1:741815843624:web:15f211c03c465ee0f06e1d
